// Bitters 1.1.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "variables";
@import "grid-settings";
@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "tabs";
@import "typography";

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin: 0;
}
* {
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.reader-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
