@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif');

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  color: $color-header;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.underline-flourish {
  background-color: $color-flourish-green;
  border-radius: 3px;
  display: block;
  height: 8px;
  margin: .7em 0 5px;
  width: 94px;
}
