header#site-header {
  border-top: 8px solid $color-gray-20s;
  border-bottom: 5px solid $color-brand-green;

  .dropdown-toggle {
    margin-left: 25px;
    padding-left: 0;
    padding-right: 0;
    .caret {
      display: none;
    }
    &:last-child {

    }
  }

  .nav {
    &.aux-nav {
      > li {
        > a {
          background-color: $color-gray-20s;
          border-right: 1px solid $color-white;
          color: $color-header;
          letter-spacing: $nav-link-letter-spacing;
          font-size: 1.75rem;
          padding: 11px 35px 12px;
        }
      }

      .search-toggle {
        &:hover,
        &:focus {
          background-color: darken($navbar-mobile-dropdown-bg-color, $btn-hover-darken-pct);
          transition: all $btn-transition-time;
        }

        background-color: $navbar-mobile-dropdown-bg-color;
        border: none;
        padding: 10px;

        .icon-search {
          background-image: url('/images/icons/icon-search.svg');
          background-size: 25px;
          display: block;
          height: 25px;
          width: 25px;
        }
      }
    }

    .dropdown-menu {
      background-color: $color-gray-10s;
    }
    > li {
      > a {
        text-transform: uppercase;
      }
    }
  }
  .navbar {
    margin-bottom: 0;
  }
}
