.container {
  @include outer-container;
  @include screen-small {
    padding-left: 12px;
    padding-right: 12px;
  }
  padding-left: 20px;
  padding-right: 20px;
}

.clear-floats:after {
  content: "";
  display: table;
  clear: both;
}

/* Screen reader-only. Hide from normal browsers. */
.reader	{
  left:-9000px !important;
  display:block;
  position:absolute;
}
.email{
  word-wrap: break-word;
}
.hide{
  display: none;
}


.tbd-overlay{
	position:relative;
	&::before{
		position:absolute;
		width:100%;
		height:100%;
		background-color:black;
		z-index:10;
		opacity:0.7;
		font-size:200%;
		content:"TBD From Service";
		color:white;
		top:0;
		left:0;
		text-align:center;
		padding-top:30%;
	}
}
