.generic {
  main {
    @extend .container;
    position: relative;

    // Styles affected by left rail. Selctor is generated via JS.
    @include media($medium-screen-up) {
      &.has-left-rail{
        article{
          float: right;
          padding: 30px 0 0 40px;
        }
        &:before { // Left rail background color
          position: absolute;
          content: '';
          top: 0;
          right: 100%;
          margin-right: -240px;
          width: 100%;
          height: 100%;
          background: #ecedef;
          z-index: 0;
        }
      }
    }
  }
  aside, article {
    position: relative;
    z-index: 1;
  }
  aside.left-rail {
    padding: 20px 0 0 0;
    @include media($medium-screen-up) {
      width: 220px;
      float: left;
      padding: 40px 40px 40px 0;
    }
    h3 {
      position: relative;
      padding: 8px 8px 4px 8px;
      font-family: $base-font-family;
      font-size: em(18);
      line-height: em(20);
      font-weight: 500;
      border: 1px solid #a1a1a1;
      border-radius: 5px;
      cursor: pointer;
      &:after {
        position: absolute;
        top: 12px;
        right: 10px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 6px 0 6px;
        border-color: #595860 transparent transparent transparent;
      }
      &.active {
        &:after {
          border-width: 0 6px 10px 6px;
          border-color: transparent transparent #595860 transparent;
        }
      }
      @include media($medium-screen-up) {
        padding: 0;
        border: none;
        cursor: default;
        &:after {
          content: none;
        }
      }
    }
    > div {
      display: none;
      margin-bottom: 20px;
      border-bottom: 1px solid #a1a1a1;
      &.active {
        display: block;
      }
      @include media($medium-screen-up) {
        display: block;
        border-bottom: none;
      }
      h4 {
        margin: 0;
        padding: 15px 0 5px 0;
        font-family: $base-font-family;
        font-size: em(16);
        font-weight: 500;
        color: #2f2f36;
        border-top: 1px solid #a1a1a1;
      }
      p {
        margin-top: 16px;
        font-family: $heading-font-family;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
      }
      ul {
        margin: 0 0 6px 20px;
        font-family: $heading-font-family;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        > li {
          a {
            display: block;
            position: relative;
            padding: 4px 0 4px 0;
            color: #2f2f36;
            &:hover, &:focus {
    					color: $red;
    				}
            &[href^="#"] {
              &:before {
                content: none;
                position: absolute;
                top: 7px;
                left: -15px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 0 4px 5px;
                border-color: transparent transparent transparent #595860;
                @include media($medium-screen-up) {
                  content: '';
                }
              }
              &.active {
                &:before {
                  top: 9px;
                  left: -16px;
                  border-width: 5px 4px 0 4px;
                  border-color: #595860 transparent transparent transparent;
                }
                + ul {
                  display: block;
                }
              }
            }
          }
          ul {
            margin: 0;
            font-weight: 300;
            @include media($medium-screen-up) {
              /*display: none;*/
            }
          }
        }
      }
    }
  }
  aside.left-rail + article{
    @include media($medium-screen-up) {
      width: calc(100% - 220px);
    }
  }
  article {
    padding-top:30px;
    padding-bottom:40px;
    font-size: .9rem;
    @include media($medium-screen-up) {
      padding: 30px 0 0 40px;
    }
    h1 {
      margin: 0 0 10px 0;
      font-size: 2.15em;
      line-height: 1.3em;
      -webkit-font-smoothing: antialiased;
    }
    h2 {
      margin: 25px 0 10px 0;
      font-size: em(24);
      -webkit-font-smoothing: antialiased;
    }
    p {
      margin: 0 0 10px 0;
      &.intro {
        margin: 0 0 1.5em 0;
        font-size: 1.2em;
      }
    }
    ul, ol {
      margin: 10px 0 10px 30px;
      font-size: rem(14);
      line-height: em(22);
      li {
        margin-bottom: 5px;
      }
    }
    ul {
      list-style-type: disc;
    }
    ol {
      list-style-type: decimal;
    }
    .banner {
      margin-bottom: 10px;
    }
    .video-container {
      margin: 30px 0;
      max-width: 400px;
      .video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
      }
      iframe, object, embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
      }
    }
    .topics {
      display: table;
      width: 100%;
      &.col-3 {
        .topic {
          width: 100%;
          margin: 0 0 15px 0;
          @include media($large-screen-up) {
            margin: 0;
            display: table-cell;
            width: 33%;
          }
        }
      }
      .topic {
        vertical-align: top;
        list-style-type: disc;
        li {
          display: block;
          overflow: auto;
          margin-bottom: 0;
          font-family: $heading-font-family;
          &:not(:first-child) {
            position: relative;

            padding-left: 10px;
            font-size: 15px;
            line-height: 22px;
            @include media($large-screen-up) {
              margin-left: 55px;
            }
            &:before {
              position: absolute;
              top: 0;
              left: 0;
              content: '•';
              color: #4e5153;
            }
          }
          img {
            display: block;
            float: left;
            margin: 5px 0 8px 0;
            width: auto;
            height: 28px;
          }
          h3 {
            display: block;
            float: left;
            margin: 5px 0 8px 12px;
            font-size: 16px;
            line-height: 28px;
            font-weight: 500;
          }
          a {
            color: #4e5153;
            &:hover, &:focus {
    					color: $red;
    				}
          }
        }
      }
    }
    .nav {
      margin: 30px 0;
      list-style: none;
      > li:first-child {
        font-family: $base-font-family;
        font-size: 14px;
        line-height: 28px;
        font-weight: 300;
        border-bottom: none;
        img {
          display: block;
          position: absolute;
          top: 0;
          left: -36px;
          width: auto;
          height: 24px;
        }
        strong {
          display: block;
          font-size: 24px;
          line-height: 30px;
          font-weight: 300;
        }
      }
      li {
        display: block;
        list-style: none;
        font-family: $heading-font-family;
        position: relative;
        margin: 0 0 0 36px;
        font-size: 16px;
        font-weight: 500;
        border-bottom: 1px solid #a1a1a1;
        a, span {
          display: block;
          padding: 12px 0 10px 16px;
          color: #4e5153;
        }
        a {
          &:hover {
            color: $red;
          }
          &[href^="#"] {
            &:before {
              position: absolute;
              top: 16px;
              left: 0;
              content: '';
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 4px 0 4px 5px;
              border-color: transparent transparent transparent #595860;
            }
            &.active {
              &:before {
                top: 18px;
                left: -1px;
                border-width: 5px 4px 0 4px;
                border-color: #595860 transparent transparent transparent;
              }
              + ul {
                display: block;
              }
            }
          }
        }
        span {
          padding-left: 0;
          a {
            display: inline-block;
            padding: 0;
            color: $red;
            &:before {
              content: none;
            }
          }
        }
        ul {
          /*display: none;*/
          margin: 0 0 10px 0;
          li {
            border: none;
            font-weight: 300;
            a {
              padding: 0;
              margin-bottom: 5px;
              &[href^="#"] {
                &:before {
                  top: 3px;
                  left: -15px;
                }
                &.active:before {
                  top: 5px;
                  left: -16px;
                }
              }
            }
            ul {
              margin: 0;
              display: none;
              li {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
    .spotlight {
      margin-top: 30px;
      background: none;
      border-top: 1px solid #a1a1a1;
      .container {
        padding: 0;
      }
    }
  }
}
